<ifModule mod_rewrite.c>
    RewriteEngine On
    ErrorDocument 404 http://localhost/bog_php/Blog-PHP/error/

    RewriteCond %(SCRIPT_FILENAME) !-d
    RewriteCond %(SCRIPT_FILENAME) !-f

    RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</ifModule>